<div class="mt-4">
    <h3>Cập nhật thông tin người dùng</h3>
    <form class="mt-4" method="POST" action="/courses/store">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" value="{{user.username}}" id="username" name="username">
        </div>

        <div class="form-group">
            <label for="role">Loại</label>
            <input type="text" class="form-control" value="{{user.role}}" id="role" name="role">
        </div>

        <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" class="form-control" value="{{user.name}}" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" value="{{user.phone}}" id="phone" name="phone">
        </div>

        <div class="form-group">
            <label for="active">Trạng thái</label>
            <input type="text" class="form-control" value="{{user.active}}" id="active" name="active">
        </div>

        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>