<div class="mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Stt</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            {{#each userQuery}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.username}}</td>
                <td>{{this.role}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.active}}</td>
                <td>
                    <a href="/api/user/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>